---
import githubIcon from '../icons/github.svg';
import linkedInIcon from '../icons/linkedin.svg';
import mastodonIcon from '../icons/mastodon.svg';
import kofi from '../icons/kofi.svg'

export interface Props {
	title: string;
}

const { title } = Astro.props;

const navItems = [
	{
		path: '/notes',
		label: 'Notes',
	},
	{
		path: '/services',
		label: 'Services',
	},
	{
		path: '/contact',
		label: 'Contact',
	},
	{
		path: '/books',
		label: 'Books'
	}
]
---
<!-- 
M       M    AAAAA
MM     MM   A     A
M M   M M   AAAAAAA
M  M M  M   A     A 
M   M   M   A     A
M       M   A     A
Memory Allocation
 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Creating code from your designs">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://fav.farm/💻" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-K5K954LXC2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-K5K954LXC2');
		</script> 
	</head>
	<body>
		<div class="content">
			<header>
				<div class="small-logo">
					<a href="/">MA</a>
				</div>
				<nav>{navItems.map((nav) => <a href={nav.path}>{nav.label}{' '}{nav.logo}</a>)}</nav>
			</header>
			<slot />
			<footer>
				<div class="footer-content">
					<ul>
						<li><a href="https://www.linkedin.com/in/binarymachine/" target="_blank"><img src={linkedInIcon} alt="linkedin social" /></a></li>
						<li><a href="https://github.com/sciencemath" target="_blank"><img src={githubIcon} alt="github social" /></a></li>
						<li><a href="https://mastodon.social/@uniqueid" target="_blank"><img src={mastodonIcon} alt="mastodon social" /></a></li>
						<li><a href="https://ko-fi.com/mathiasmath" target="_blank"><img src={kofi} alt="kofi social" /></a></li>
					</ul>
					<div>
						<p><a href="mailto:matrixmachinelearning@gmail.com">matrixmachinelearning@gmail.com</a></p>
						<p>&copy; 2024 memoryallocation</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--text-color: #adbac7;
		--background-color: rgb(17 24 39);
		--button-primary-color: #1e242c;
	}
	* {
		box-sizing: border-box;
	}
	p {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	a {
		color: var(--text-color);
	}
	html {
		font-family: system-ui, sans-serif;
		font-size: 16px;
		color: var(--text-color);
		height: 100vh;
		background-color: var(--background-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		margin-bottom: 1rem;
	}
	.content {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 5rem;
		display: grid;
		grid-template-columns: minmax(100px, 20%) 1fr;
	}
	header {
		position: sticky;
		align-self: start;
	}
	.small-logo {
		font-weight: bolder;
		font-size: 2rem;
		margin-bottom: 1.1rem;
	}
	nav {
		display: inline-flex;
		flex-direction: column;
		gap: 0.7rem;
	}
	.content a:hover {
		text-decoration: underline;
	}
	.blog-content ul {
		padding-left: 30px;
	}
	footer {
		text-align: right;
		border-top: 1px solid white;
		grid-column: 1 / 3;
		margin-top: 2rem;
	}
	footer ul {
		display: flex;
		gap: 0.6rem;
		flex-grow: 1;
		list-style: none;
	}
	footer > a {
		visibility: hidden;
	}
	.footer-content {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;
	}
</style>
